body {
    margin: 0px;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

#track {
    border: 1px solid #000000;
    width: 1200px;
    height: 180px;
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

.measure {
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.time {
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.subTime {
    /* border: 1px solid #000000; */
    cursor: pointer;
}

.elem {
    border: 1px solid #000000;
    cursor: pointer;
}

#bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background-color: #FF0000;
}

#startTrack {
    padding: 10px;
    cursor: pointer;
}

#stopTrack {
    padding: 10px;
    cursor: pointer;
}

#playTrack {
    padding: 10px;
    cursor: pointer;
}

#pauseTrack {
    padding: 10px;
    cursor: pointer;
}